body{
    font-family: 'Roboto Slab', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: black;
    color: white;
    padding: 20px 40px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 10px 20px;
    border-radius: 10px;
}

.searchInput{     
    /*Makes the search box transparent*/
    border:none;
    background-color: transparent;
}

.searchInput::placeholder{     
    /*Makes the placeholder green*/
    color: yellow;
}

.searchButton{
    cursor:pointer;
    background-color:darkgray;
    color: black;
    font-weight: 600;
}

.limitedOffer{
    font-size: 20px;
    border-bottom: 2px solid blueviolet;
    cursor:pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin-right: 100px;
    cursor: pointer;
    color: darkgray;
    font-weight: 500;
}

.slider{
    background: url("https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366_1280.jpg");
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    overflow: hidden;  /*to remove the extra space*/
}

.sliderWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out; /*for smooth transition between the slider items*/
}

.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sliderBg{ /*slider background*/
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: absolute;
    /*background-color: lightcoral;*/ /*if putting same background colour for each slider item*/
}

.sliderImg{
    z-index: 1; /*for bringing the background circle under the image*/
}

.sliderTitle{
    position: absolute;
    top:10%;
    right:3%;
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    z-index: 1; /*for bringing the background circle under the title*/
}

.sliderPrice{
    position: absolute;
    top:10%;
    left:10%;
    color: white;
    font-size: 35px;
    font-weight: 200;
    text-align: center;
    border: 7px solid yellow;
    border-radius: 25px;
    z-index: 1; /*for bringing the background circle under the price*/
    transform: rotate(-30deg); /* rotate by 45 degrees */
}

.buyButton{
    position: absolute;
    top:65%;
    right:12%;
    color: white;
    border: 2px solid yellow;
    background-color: grey;
    font-size: 25px;
    font-weight: 200;
    text-align: center;
    z-index: 1; /*for bringing the background circle under the button*/
    cursor:pointer;
}

.buyButton:hover{
    background-color: wheat;
    color: black;
}

.sliderItem:nth-child(1) .sliderBg{ /*for first slider item*/ 
    background-color: lightcoral;
}

.sliderItem:nth-child(2) .sliderBg{ /*for second slider item*/ 
    background-color: lightskyblue;
}

.sliderItem:nth-child(3) .sliderBg{ /*for third slider item*/ 
    background-color: lightgreen;
}

.sliderItem:nth-child(4) .sliderBg{ /*for fourth slider item*/ 
    background-color: orange;
}

.sliderItem:nth-child(2) .sliderTitle{ /*for second slider item's title*/ 
 font-size: 28px;
 top: 6%;
 right:2%
}

.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.feature{
    display: flex;
    flex-direction: column; /*to put all the features in a column*/
    align-items: center;
}

.featureImg{
    width: 40px;
    height: 40px;
    align-items: center;
    text-align: center;
}

.featureTitle{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}

.featureDesc{
    color: gray;
    width: 210px;
    height: 50px;
    margin-bottom: 40px;
}

.clickable {
    color: blue;
    cursor: pointer;
  }
  
.clickable:hover {
   color: red;
}

.product{
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    align-items: center;
    display: flex;
    text-align: center;
}

.productImg{
    width: 30%;
    float: left;
    margin-right: 80px; /* to add some space between the image and text */
    margin-left: 160px;
}

.productDetails{
    position: relative;
    top: 0%;
    left: 0;
    width: 40%;
    margin-left: 20px;
}

.productHeading{
    font-size: 55px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 30px;
}

/*
.productTitle{
    font-size: 35px;
    font-weight: 500;
}
*/

.productDesc, .productCountry{
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}
.productPrice{
    color: black;
}

.productSelections{
    display: flex;
    justify-content: center;  /*to align the selections under the description*/
}

.productSelection{
    display: flex; /*to align the selections under the description*/
    align-items: center;  /*to align the selections under the description*/
    text-align: center;
    justify-content: center; /*to align the words in the center of their container*/
    width: 50px;
    height: 30px;
    font-weight: 400;
    border-radius: 5px;
    background-color: black;
    margin-right: 15px;
    cursor: pointer;
    color: white;
    margin-bottom: 20px;
    font-size: large;
}

.productSelection:hover{
    background-color:lightcoral;
    color: white;
}

/*to make every nth element different coloured*/
/*
.productSelection:nth-child(even){
    background-color: black;
    color: white;
}
*/

.productButton{
    /*float: right;*/
    justify-content: center;
    padding: 10px 20px;
    background-color:rgb(19, 19, 187);
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover{
    background-color:rgb(24, 125, 158);
    color: white;
}

